/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poppins';
}

nav {
  background-color: white;
  border-bottom: rgba(185, 184, 184, 30%) solid 1px;
}

.nav-container {
  padding: 10px 50px;
  font-weight: bold;
}

.nav-item {
  margin: 0 15px;
}

#home {
  padding: 20% 0%;
  text-align: center;
  font-weight: bold;
}

.name {
  font-size: 70px;
  padding: 0 20px;
}

.first-name {
  border: rgba(185, 184, 184, 30%) solid 1px;
}

.last-name {
  background-color: black;
  color: white;
}

.description {
  font-size: 20px;
  padding: 10px 0;
}