/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* Setting Variables */

:root {
  --dark-red: #280000;
}

/* Basic CSS Rules */

body {
  font-family: 'Poppins';
  font-weight: 300;
}

nav {
  margin-top: 1%;
}

/* Class-based CSS Rules */

.navbar-nav {
  margin-left: auto;
  width: 40%;
}

.nav-item {
  width: 25%;
}

.fill-div {
  background-color: white;
  height: 90vh;
}

/* ID-based CSS Rules */

#home {
  border: red solid 5px;
  height: 900px;
}