/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poppins';
}

nav {
  border-bottom: rgba(185, 184, 184, 30%) solid 1px;
}

.nav-container {
  padding: 10px 50px;
  font-weight: bold;
}

.nav-item {
  margin: 0 15px;
}